<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light"
        tools:targetApi="31">

        <!-- Clave de API para Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="TU_API_KEY_DE_GOOGLE_MAPS" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- App1 Activities -->
        <activity
            android:name=".app1.App1MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Examen2Eventos" />
        <activity
            android:name=".app1.AddSubjectActivity"
            android:exported="true"
            android:theme="@style/Theme.Examen2Eventos" />
        <activity
            android:name=".app1.ViewScheduleActivity"
            android:exported="true"
            android:theme="@style/Theme.Examen2Eventos" />
        <activity
            android:name=".app1.NowSubjectActivity"
            android:exported="true"
            android:theme="@style/Theme.Examen2Eventos" />

        <!-- App2 Activities -->
        <activity android:name=".app2.App2MainActivity" android:exported="true" />

        <!-- App3 Activities -->
        <activity android:name=".app3.App3MainActivity" android:exported="true" />

    </application>
</manifest>
